#### 1. Preparamos el environment importando librerías.

In [1]:
import pandas as pd
import sqlalchemy as sql

#### 2. Importamos y creamos un DataFrame de cada dataset por separado.

In [2]:
df_csv_amazon = pd.read_csv('https://raw.githubusercontent.com/bigdatamartin/PI01_DATA05/main/Datasets/amazon_prime_titles.csv')
df_csv_disney = pd.read_csv('https://raw.githubusercontent.com/bigdatamartin/PI01_DATA05/main/Datasets/disney_plus_titles.csv')
df_csv_hulu = pd.read_csv('https://raw.githubusercontent.com/bigdatamartin/PI01_DATA05/main/Datasets/hulu_titles.csv')
df_json_netflix = pd.read_json('https://raw.githubusercontent.com/bigdatamartin/PI01_DATA05/main/Datasets/netflix_titles.json')

#### 3. Agregamos una columna al final de cada DataFrame, conteniendo a que plataforma hace referencia.

In [3]:
df_csv_amazon['platform'] = 'Amazon Prime Video'
df_csv_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon Prime Video
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon Prime Video
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon Prime Video
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon Prime Video
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon Prime Video

In [4]:
df_csv_disney['platform'] = 'Disney Plus'
df_csv_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,Disney Plus
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,Disney Plus
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,Disney Plus
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",Disney Plus
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,Disney Plus

In [5]:
df_csv_hulu['platform'] = 'Hulu'
df_csv_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,Hulu
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",Hulu
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,Hulu
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,Hulu
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,Hulu

In [6]:
df_json_netflix['platform'] = 'Netflix'
df_json_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix

#### 4. Se concatena los DataFrames en uno solo

In [7]:
df = pd.concat([df_csv_amazon, df_csv_disney, df_csv_hulu, df_json_netflix])

In [8]:
df.rename(columns = {'description':'TEST'}, inplace = True)

In [9]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,TEST,platform
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Netflix
8803,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Netflix
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Netflix
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Netflix
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Netflix

#### 5. Al observarse un error en los index, se realiza un reset index.

In [10]:
df = df.reset_index(drop=True)

In [11]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,TEST,platform
22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Netflix
22994,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Netflix
22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Netflix
22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Netflix
22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Netflix

#### 6. Cambiamos el 'show_id' para unificar criterio de identificación para todas las plataformas.

In [39]:
df['show_id'] = df.index * 135
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,TEST,platform
0,0,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,sin datos,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon Prime Video
1,135,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon Prime Video
2,270,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,sin datos,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon Prime Video
3,405,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,sin datos,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon Prime Video
4,540,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,sin datos,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon Prime Video


#### 7. Exploramos y trabajamos los valores nulos.

In [14]:
df.isnull().sum()

show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
TEST                4
platform            0
dtype: int64

In [21]:
df[['duration']] = df[['duration']].fillna(value='sin datos')
df['duration'].sample(10)

17755      135 min
5640        71 min
14628       88 min
13433    sin datos
20191       93 min
6217        86 min
13668    sin datos
21628      110 min
12949    sin datos
4938        52 min
Name: duration, dtype: object

In [20]:
df[['rating']] = df[['rating']].fillna(value='sin datos')
df['rating'].sample(10)

15473        TV-MA
16077           PG
6360             R
17860        TV-MA
8006             R
3921             R
5504     sin datos
9461           ALL
396            16+
20450         TV-G
Name: rating, dtype: object

In [19]:
df[['date_added']] = df[['date_added']].fillna(value='sin datos')
df['date_added'].sample(10)

11390     September 1, 2021
5949              sin datos
22347         March 1, 2018
5216              sin datos
3284              sin datos
4766              sin datos
1529              sin datos
12410      October 23, 2020
14768          July 1, 2021
22501    September 11, 2017
Name: date_added, dtype: object

In [18]:
df[['country']] = df[['country']].fillna(value='sin datos')
df['country'].sample(10)

13412        sin datos
14405        sin datos
21338    United States
13728    United States
2069         sin datos
4277         sin datos
8710         sin datos
15392            Egypt
21150    United States
22401    United States
Name: country, dtype: object

In [17]:
df[['cast']] = df[['cast']].fillna(value='sin datos')
df['cast'].sample(10)

5760     Steven M. Greer, Giancarlo Esposito, Richard D...
8453     Pierre Deladonchamps, Nina Meurisse, Maud Wyle...
17311    Marta Nieradkiewicz, Sebastian Fabijański, Aga...
18291    Ariel Goldenberg, Rita Pokk, Breno Viola, Lima...
11444                                            sin datos
12738                                            sin datos
22672    Bassem Samra, Ola Ghanem, Ahmad Wafiq, Feryal ...
8779     Freya Tingley, Dralla Aierken, Paul Rae, Ping ...
7635                                  Cut the Rope, Om Nom
2738                                             sin datos
Name: cast, dtype: object

In [16]:
df[['director']] = df[['director']].fillna(value='sin datos')
df['director'].sample(10)

18400        Kunal Kohli
21843      Heitor Dhalia
12714          sin datos
1681           sin datos
6167       Jack Topalian
7984     Chitralaya Gopu
16697     Ahmad El-Badri
19145         Farah Khan
10260        David Lynch
2265       Ryan Kawamoto
Name: director, dtype: object

In [22]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
TEST            4
platform        0
dtype: int64

#### 8. Modelamos la data.
####    La columna 'cast' tiene mas de un valor separado por comas. Por lo tanto separamos una fila por actor, manteniendo los valores relacionados.

In [33]:
df_modelado_actors = df.assign(cast=df.cast.str.split(",")).explode('cast')
df_modelado_actors = df_modelado_actors[['platform', 'release_year', 'cast']]
df_modelado_actors.head()

             platform  release_year              cast
0  Amazon Prime Video          2014   Brendan Gleeson
0  Amazon Prime Video          2014     Taylor Kitsch
0  Amazon Prime Video          2014    Gordon Pinsent
1  Amazon Prime Video          2018  Mahesh Manjrekar
1  Amazon Prime Video          2018     Abhay Mahajan

#### 9. Pasamos los DataFrames como tablas SQL

In [35]:
import warnings
warnings.filterwarnings("ignore")

from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:Mies2019!!@localhost:3306/proyecto_individual1')
df_modelado_actors.to_sql('actors', engine, index=False)

119713

In [36]:
df.to_sql('directorio_peliculas_series', engine, index=False)

22998